
{% load static %}

<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Image Gen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{% static 'imageGen/css/select2.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'imageGen/css/spectrum.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'imageGen/css/ruler.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'imageGen/css/toastr.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'imageGen/css/style.css' %}" rel="stylesheet" type="text/css">
    <link id="palleon-theme-link" href="{% static 'imageGen/css/dark.css' %}" rel="stylesheet" type="text/css">
    <!-- all url -->
    <script src="{% static 'frontendApp/api/base/all_url/api_urls.js' %}"></script>
    <script src="{% static 'frontendApp/api/base/all_url/page_urls.js' %}"></script>
    <!-- <link id="palleon-theme-link" href="css/light.css" rel="stylesheet" type="text/css"> -->
    

</head>

<body id="palleon" class="backend">
    
    {% include 'imageGen/palleon/page-loader.html' %}
    {% include 'imageGen/palleon/topbar.html' %}
    {% include 'imageGen/palleon/icon-menu.html' %}

    {% with templates=templates tags=tags %}
        {% include 'imageGen/palleon/icon-panel.html' %}
    {% endwith %}
    
    {% include 'imageGen/palleon/body.html' %}
    {% include 'imageGen/palleon/right-column.html' %}
    
    {% with templates=templates tags=tags %}
        {% include 'imageGen/palleon/modal/add.html' %}
    {% endwith %}
    
    {% include 'imageGen/palleon/modal/save.html' %}
    {% include 'imageGen/palleon/modal/media.html' %}
    {% include 'imageGen/palleon/modal/svg-library.html' %}
    {% include 'imageGen/palleon/modal/history.html' %}

    <!-- Scripts -->
    <script src="{% static 'imageGen/js/jquery.min.js' %}"></script>
    <script src="{% static 'imageGen/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'imageGen/js/unminified/fabric.js' %}"></script>
    <script src="{% static 'imageGen/js/plugins.min.js' %}"></script>
    <script src="{% static 'imageGen/js/unminified/palleon.js' %}"></script>
     <!-- Canvas Ruler -->
    <script type="text/javascript">
        if (document.body.clientWidth >= 1200) {
            var evt = new Event('palleon-ruler'),
            dragdrop = new Dragdrop(evt),
            rg  = new RulersGuides(evt, dragdrop, document.getElementById("palleon-ruler"));
        }
    </script>
    <script src="https://unpkg.com/imagekit-javascript@1.3.0/dist/imagekit.min.js"></script>
    <script src="{% static 'imageGen/js/custom2/set_workspace_image_gen.js' %}"></script>

    <script src="{% static 'imageGen/js/custom.js' %}"></script>
    <script src="{% static 'imageGen/js/custom2/set_image_tag.js' %}"></script>
    <script src="{% static 'imageGen/js/custom2/set_image_kit.js' %}"></script>
    <script src="{% static 'imageGen/js/custom2/set_image_template.js' %}"></script>
    <script src="{% static 'imageGen/js/custom2/set_image_template_category.js' %}"></script>
    <script src="{% static 'imageGen/js/custom2/set_base_image_template.js' %}"></script>
    <!-- Translation Strings -->
    <script>
        /* <![CDATA[ */
        var palleonParams = {
            "textbox": "Enter Your Text Here",
            "object": "Object",
            "loading": "Loading...",
            "loadmore": "Load More",
            "saved": "Saved!",
            "imgsaved": "Image is saved.",
            "tempsaved": "Template is saved.",
            "freeDrawing": "Free drawing",
            "frame": "Frame",
            "image": "Image",
            "circle": "Circle",
            "square": "Square",
            "rectangle": "Rectangle",
            "triangle": "Triangle",
            "ellipse": "Ellipse",
            "trapezoid": "Trapezoid",
            "pentagon":"Pentagon",
            "octagon":"Octagon",
            "emerald": "Emerald",
            "star": "Star",
            "element": "Element",
            "customSvg": "Custom SVG",
            "success": "Success",
            "error": "Error",
            "delete": "Delete",
            "duplicate": "Duplicate",
            "showhide": "Show/Hide",
            "lockunlock": "Lock/Unlock",
            "text": "Text",
            "started": "Editing started.",
            "added": "added.",
            "removed": "removed.",
            "resized": "resized.",
            "edited": "edited.",
            "replaced": "replaced.",
            "rotated": "rotated.",
            "moved": "moved.",
            "scaled": "scaled.",
            "flipped": "flipped.",
            "cropped": "cropped.",
            "bg": "Canvas",
            "filter": "filter",
            "showRulers":"Show rulers",
            "hideRulers":"Hide rulers",
            "showGuides":"Show guides",
            "hideGuides":"Hide guides",
            "clearAllGuides":"Clear all guides",
            "question1":"Are you sure you want clear the history?",
            "question2":"Are you sure you want to delete the layers?",
            "question3":"Are you sure you want to crop the image?",
            "question4":"Are you sure you want to resize the image?",
            "noDuplicate":"You can not duplicate multiple objects. Please select single object to duplicate.",
            "warning": "Warning",
            "qrCode": "QR Code",
        };
        /* ]]> */
    </script>
    <!-- Scripts END -->
</body>
<!-- Body END -->

</html>