
{% load static%}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Article Innovator</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pagedone@1.1.2/src/js/pagedone.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.52.0/apexcharts.min.css" integrity="sha512-w3pXofOHrtYzBYpJwC6TzPH6SxD6HLAbT/rffdkA759nCQvYi5AHy5trNWFboZnj4xtdyK0AFMBtck9eTmwybg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
                
        <!-- <link rel="stylesheet" href="src/assets/css/styles-output.css" /> -->
        <link rel="stylesheet" href="{% static 'frontendApp/src/output.css' %}" />
        <link rel="stylesheet" href="{% static 'frontendApp/assets/css/custom-style.css' %}" />
                
        <!-- image upload  -->
        <link href="https://cdn.jsdelivr.net/npm/cropperjs@1.5.12/dist/cropper.min.css" rel="stylesheet">
        <!-- Include jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- sweetalert2 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- all url -->
        <script src="{% static 'frontendApp/api/base/all_url/api_urls.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/all_url/page_urls.js' %}" defer></script>
            
        <!-- all Message ui -->
        <script src="{% static 'frontendApp/api/base/alert_message/alert_message.js' %}" defer></script>

        <!-- api error Message -->
        <script src="{% static 'frontendApp/api/base/error_message_data/error_message_data.js' %}" defer></script>
        
        <!-- api call -->
        <script src="{% static 'frontendApp/api/base/check_authentication_error/check_authentication_error.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/api_call/get_data_api.js' %}" defer></script>

        <script src="{% static 'frontendApp/api/base/set_motivation/set_motivation.js' %}" defer></script>
        
        <script src="{% static 'frontendApp/api/base/get_user_permissions/get_user_permissions.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/set_permissions/set_permissions.js' %}" defer></script>
        
        <script src="{% static 'frontendApp/api/base/api_call/add_api.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/api_call/list_api.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/api_call/delete_api.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/api_call/set_data_api.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/api_call/update_api.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/api_call/status_api.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/table_data/table_data.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/pagination/pagination.js' %}" defer></script>


      
    </head>
    <body class="font-inter ">

        <div>
            <div class="flex overflow-y-hidden bg-white" x-data="setup()">
                {% include 'frontendApp/base/sidebar.html' %}

                <div class="h-full overflow-hidden border-l border-solid border-gray-200 lg:ml-auto  max-lg:w-full relative"
                :class="{'lg:w-[calc(100%-256px)]':isSidebarOpen ,'lg:w-[calc(100%-80px)]': !isSidebarOpen}">
                {% include 'frontendApp/base/header.html' %}
                    
                <div class="w-full  px-8 py-6 pt-28 h-[calc(100vh-0px)] overflow-y-auto">
                    <div>
                        {%block body%}
                        
                        
                        {% endblock %}
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include 'frontendApp/base/modal.html' %}
              
        {% comment %} {% block scripts %}

        {% endblock %} {% endcomment %}
        <!-- table data -->
        <script src="{% static 'frontendApp/api/base/image_file/image_file.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/get_user_workspce/get_user_workspce.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/set_workspace/set_workspace.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/notification/notification.js' %}" defer></script>
        <script src="{% static 'frontendApp/api/base/get_access_token/get_access_token.js' %}" defer></script>
        


        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>


        {% comment %} <script src="{% static 'frontendApp/assets/js/pagedone-.js' %}" defer></script> {% endcomment %}
        
        <script src="{% static 'frontendApp/assets/js/app.js' %}" ></script>
        
        
        <script src="{% static 'frontendApp/assets/js/custom-script.js' %}" ></script>
        
        
        
        <!-- image upload  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>


        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>



    </body>
</html>