
{% load static%}


<div class="w-full">
    <div class="p-4 mb-4 border border-gray-200 rounded-2xl">
        <div class="flex items-center justify-between">
            <!-- Step 1 -->
            <div class="flex-1 flex items-center justify-center">
                <div id="workspace_circle"
                    class="flex items-center justify-center w-[34px] h-[34px] bg-indigo-600 text-white rounded-full">
                    1
                </div>
                <p class="text-sm text-gray-500 ml-2">Workspace</p>
            </div>
            <div id="workspace_line" class="flex-1 h-0.5 bg-gray-300"></div>
            
            <!-- Step 2 -->
            <div class="flex-1 flex items-center justify-center">
                <div id="ai_configuration_circle"
                    class="flex ml-2 items-center justify-center w-[34px] h-[34px] bg-gray-200 text-white rounded-full">
                    2
                </div>
                <p class="text-sm text-gray-500 ml-2 mr-2">Ai-Configuration</p>
            </div>
            <div id="ai_configuration_line" class="flex-1 h-0.5 bg-gray-300"></div>

            <!-- Step 3 -->
            <div class="flex-1 flex items-center justify-center">
                <div id="team_circle"
                    class="flex ml-2 items-center justify-center w-[34px] h-[34px] bg-gray-200 text-white rounded-full">
                    3
                </div>
                <p class="text-sm text-gray-500 ml-2 mr-2">Team Member</p>
            </div>
            <div id="team_line" class="flex-1 h-0.5 bg-gray-300"></div>

            <!-- Step 4 -->
            <div class="flex-1 flex items-center justify-center">
                <div id="domain_circle"
                    class="flex ml-2 items-center justify-center w-[34px] h-[34px] bg-gray-200 text-white rounded-full">
                    4
                </div>
                <p class="text-sm text-gray-500 ml-2 mr-2">Domain</p>
            </div>

        </div>
    </div>
</div>